<!-- Header Start -->
<div class="jumbotron jumbotron-fluid page-header">
  <div class="container text-center py-5">
    <h1 class="text-white display-3 mt-lg-5">Register</h1>
    <div class="d-inline-flex align-items-center text-white">
      <p class="m-0"><a class="text-white" href="">Home</a></p>
      <i class="fa fa-circle px-3"></i>
      <p class="m-0">Register</p>
    </div>
  </div>
</div>
<!-- Header End -->


<!-- Contact Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="contact-form bg-light rounded p-5">
          <div id="success"></div>
          <form name="sentMessage" id="contactForm" novalidate="novalidate" [formGroup]="userForm" (ngSubmit)="register()">
            <div class="form-row">
              <input type="hidden" formControlName="statusUserId" value="1">
              <div class="col-sm-6 control-group">
                <input type="text" class="form-control p-4" formControlName="username" placeholder="Your Username"
                       required="required" data-validation-required-message="Please enter your username" />
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-6 control-group">
                <input type="text" class="form-control p-4" formControlName="fullName" placeholder="Your Name"
                       required="required" data-validation-required-message="Please enter your name" />
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-6 control-group">
                <input type="text" class="form-control p-4" formControlName="password" placeholder="Your Password"
                       required="required" data-validation-required-message="Please enter your password" />
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-6 control-group">
                <input type="text" class="form-control p-4" formControlName="confirmPassword" placeholder="Your Confirm Password"
                       required="required" data-validation-required-message="Please enter your confirm Password" />
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-6 control-group">
                <input type="email" class="form-control p-4" formControlName="email" placeholder="Your Email"
                       required="required" data-validation-required-message="Please enter your email" />
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-6 control-group">
                <input type="text" class="form-control p-4" formControlName="phoneNumber" placeholder="Your Phone Number"
                       required="required" data-validation-required-message="Please enter your phone Number" />
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 control-group">
                <div>
                  <button class="btn btn-primary btn-block py-3 px-5" type="submit" id="register">Register</button>
                </div>
              </div>
              <div class="col-sm-6 control-group">
                <div>
                  <button class="btn btn-primary btn-block py-3 px-5" routerLink="">Login</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
