<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-7">
        <h1 class="section-title position-relative mb-5">Top 6 lovers are best for you</h1>
      </div>
      <div class="col-lg-5 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="service-item col-4" *ngFor="let user of users">
            <div class="service-img mx-auto">
              <img class="rounded-circle w-100 h-100 bg-light p-3" src="{{user?.avatar}}" style="object-fit: cover;">
            </div>
            <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
              <h3 class="font-weight-semi-bold mt-5 mb-3 pt-5">{{user?.fullName}}</h3>
              <h6 class="text-uppercase text-muted mb-4" style="height: 46px ;text-overflow: ellipsis;
  max-width: 300px;white-space: nowrap;
  overflow: hidden;">{{user?.description}} <i class="fas fa-pen"></i></h6>
              <div>
                <div class="position-relative text-center bg-light rounded"
                     *ngFor="let s of user?.myService; let i = index">
                  <p>{{s.name}} &ensp; &ensp; <i class="fas fa-heart service"></i></p>
                </div>
                <div *ngIf=" user?.myService!.length > 1 && user?.myService!.length <3 ">
                  <p><i class="fas fa-heart service"></i></p>
                </div>
                <div *ngIf=" user?.myService!.length > 0 && user?.myService!.length <2">
                  <p><i class="fas fa-heart service"></i></p>
                  <p><i class="fas fa-heart service"></i></p>
                </div>
                <div *ngIf="  user?.myService!.length <1">
                  <p><i class="fas fa-heart service"></i></p>
                  <p><i class="fas fa-heart service"></i></p>
                  <p><i class="fas fa-heart service"></i></p>
                </div>
              </div>
              <h5 class="font-weight-semi-bold mt-3 mb-3 pt-3 " style="color: #f1606e" >{{user?.price | number : '0.0-0'}}/Hour </h5>
              <a (click)="showDetail(user?.id)" class="btn btn-sm btn-secondary">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
