<div class="jumbotron jumbotron-fluid page-header">
  <div class="container text-center py-5">
    <h1 class="text-white display-3 mt-lg-5">Update Profile</h1>
    <div class="d-inline-flex align-items-center text-white">
      <p class="m-0"><a class="text-white" href="">Home</a></p>
      <i class="fa fa-circle px-3"></i>
      <p class="m-0">Update</p>
    </div>
  </div>
</div>
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="section-title position-relative text-center "></h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="contact-form bg-light rounded p-5">
          <div id="success"></div>
          <form [formGroup]="formService" (ngSubmit)="saveUpdate()"  >

            <div class="col-sm-12 control-group">
              <div class="row ">
                <div class="col-12">
                  <h3>Service provided</h3>
                </div>
                <div class="col-12">
                  Basic services (*) include:
                  <ul>
                    <li>- Launch of house people</li>
                    <li> - Launching friends
                    </li>
                    <li>- Travel with your team
                    </li>
                    <li> - Shared out
                    </li>
                    <li>- Attend birthday
                    </li>
                    <li> - Chat offline
                    </li>
                    <li>- Online chat
                    </li>
                    <li> - Go in Tet holiday.
                    </li>
                    <li> - Going out holidays</li>
                  </ul>
                  <p style="color: #aa04c7">Note: Mounting items "*" are required</p>
                </div>
                <div class="col-12">
                  <h5>Additional service options</h5>
                </div>
                <div class="col-12">
                  <h6>Free additional service</h6>
                </div>
                <div class="col-4" *ngFor="let ser of freeCheckedServiceArr,index as i">
                  <div class="row">
                    <div class="col-12">
                      <div class="col-12">
                        <input name="serFree" (change)="dataUpdate($event)" [value]="ser.id" type="checkbox" id="{{i+1}}" [checked]="ser.status">
                        <label for="{{i+1}}"><p>{{ser.name}}</p></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <h6>Extended service (charged)</h6>
                </div>
                <div class="col-4" *ngFor="let ser of extendCheckedServiceArr,index as i">
                  <div class="row">
                    <div class="col-12">
                      <div class="col-12">
                        <input  [value]="ser.id" (change)="dataUpdate($event)" type="checkbox" id="{{ser.id}}" [checked]="ser.status">
                        <label for="{{ser.id}}"><p>{{ser.name}}</p></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <h5>Minimum lease time (default is 1 hour)</h5>
                </div>
                <div class="col-4">
                  <div class="row">
                    <div class="col-12">
                      <div class="col-12">
                        <input formControlName="minTime" id="8" type="radio" name="minTime" value="8">
                        <label for="8">0.5 hour</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="col-12">
                        <input formControlName="minTime" id="9" type="radio" name="minTime" value="9">
                        <label for="9">1 hour</label>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>

            <div class="col-sm-12 control-group">
              <div class="row">
                <div class="radio">
                  <div class="row">


                  </div>

                </div>
              </div>
            </div>

            <div>
              <button class="btn btn-primary btn-block py-3 px-5" type="submit" id="sendMessageButton">Update service
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>        <button class="btn btn-primary" (click)="back()">Back</button>

  </div>
</div>
