<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="section-title position-relative mb-5">
          Statistics of successful transactions</h1>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
    </div>
    <div class="row title">
      <div class="col-1 order-title"></div>
      <div class="col-2 order-title">Lover's name</div>
      <div class="col-2 order-title">Start</div>
      <div class="col-2 order-title">Finish</div>
      <div class="col-1 order-title">Time</div>
      <div class="col-1 order-title">Price</div>
      <div class="col-2 order-title">Status</div>
      <div class="col-2"></div>
    </div>
    <div class="row mt-3" *ngFor="let order of orders">
      <div class="col-1"><img src="{{order?.provider?.avatar}}" alt="" width="100%"></div>
      <div class="col-2">{{order?.provider?.fullName}}</div>
      <div class="col-2">{{order?.startTime | date : 'MM/dd/yy, h:mm a'}}</div>
      <div class="col-2">{{order?.endTime | date : 'MM/dd/yy, h:mm a'}}</div>
      <div class="col-1">{{order?.timeRent}}h</div>
      <div class="col-1">{{(order?.provider?.price) * (order?.timeRent) | number : '0.0-0'}}</div>
      <div class="col-1">{{order?.status?.name}}</div>
    </div>
  </div>
</div>
