
.custom-slider .ngx-slider .ngx-slider-bar {
  background: #22e4d2;
  height: 6px;
}
.custom-slider .ngx-slider .ngx-slider-selection {
  background: yellow;
}

.custom-slider .ngx-slider .ngx-slider-pointer {
  width: 12px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: green;
}

.custom-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}

.custom-slider .ngx-slider .ngx-slider-bubble {
  bottom: 15px;
}

.custom-slider .ngx-slider .ngx-slider-limit {
  font-weight: bold;
  color: orange;
}

.custom-slider .ngx-slider .ngx-slider-tick {
  width: 1px;
  height: 16px;
  margin-left: 5px;
  border-radius: 0;
  background: black;
  top: -1px;
}

.custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: rgb(0, 120, 155);
}
input[type='radio'] {
  display: none;
}

label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid rgba(254, 98, 194, 0.9);
  background-color: transparent;
}

input[type='radio']:checked + label:before {
  position: relative;
  border: 2px solid rgba(254, 98, 194, 0.9);
  border-radius: 11px;
  width: 20px;
  height: 20px;
  top: 5px;
  content: " ";
  display: inline-block;
  background-color: #00ffc3
}
input[type='checkbox'] {
  position: relative;
  border: 2px solid rgba(254, 98, 194, 0.9);
  border-radius: 11px;
  width: 20px;
  height: 20px;
  top: 5px;
  content: " ";
  display: inline-block;
  background: rgba(255, 192, 203, 0.95)
}
/*.custom-select {*/
/*  position: relative!important;*/
/*  font-family: Arial!important;*/
/*}*/

/*.custom-select select {*/
/*  display: none!important; !*hide original SELECT element:*!*/
/*}*/

/*.select-selected {*/
/*  background-color: DodgerBlue!important;*/
/*}*/

/*!*style the arrow inside the select element:*!*/
/*.select-selected:after {*/
/*  position: absolute!important;*/
/*  content: ""!important;*/
/*  top: 14px!important;*/
/*  right: 10px!important;*/
/*  width: 0!important;*/
/*  height: 0!important;*/
/*  border: 6px solid transparent!important;*/
/*  border-color: #fff transparent transparent transparent!important;*/
/*}*/

/*!*point the arrow upwards when the select box is open (active):*!*/
/*.select-selected.select-arrow-active:after {*/
/*  border-color: transparent transparent #fff transparent!important;*/
/*  top: 7px!important;*/
/*}*/

/*!*style the items (options), including the selected item:*!*/
/*.select-items div,.select-selected {*/
/*  color: #ffffff!important;*/
/*  padding: 8px 16px!important;*/
/*  border: 1px solid transparent!important;*/
/*  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent!important;*/
/*  cursor: pointer!important;*/
/*  user-select: none!important;*/
/*}*/

/*!*style items (options):*!*/
/*.select-items {*/
/*  border-radius:10px!important;*/
/*  position: absolute!important;*/
/*  background-color: DodgerBlue!important;*/
/*  top: 100%!important;*/
/*  left: 0!important;*/
/*  right: 0!important;*/
/*  z-index: 99!important;*/
/*}*/

/*hide the items when the select box is closed:*/
/*.select-hide {*/
/*  display: none!important;*/
/*}*/

/*.select-items div:hover, .same-as-selected {*/
/*  background-color: rgba(0, 0, 0, 0.1)!important;*/
/*}*/

.custom-select-items {
  border-radius: 11px!important;
}
