<form class="form-inline" [formGroup]="formSearch" (submit)=searchAll()>
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row ">
        <div class="col-3 ">
            <div class="radio justify-content-xl-between">
              <div class="col-12">
                <input id="male" type="radio" name="gender" formControlName="gender"
                       value="male">
                <label for="male">Male</label>
              </div>

              <input id="female" type="radio" name="gender" formControlName="gender"
                     value="female">
              <label for="female">Female</label>
              <input id="other" type="radio" name="gender" formControlName="gender"
                     value="other">
              <label for="other">Other</label>
            </div>
        </div>
        <div class="col-3">
          <div class="custom-slider text-center">
            Khoảng tuổi
            <ngx-slider [options]="options" [(value)]="minValue" [(highValue)]="maxValue"></ngx-slider>
          </div>
        </div>
        <div class="col-6">
          <nav class="navbar navbar-light bg-light">
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Search" aria-label="Search" formControlName="name">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Search</button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="container-fluid ">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="section-title position-relative mb-5">
          Search results </h1>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
    </div>
    <div class="row ">
      <div class="col-12 mb-3">
        <div class="row">
          <div class="team-item text-center col-12">
            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              [responsive]="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
          </div>
        </div>
      </div>
      <div class="col-12 mt-5">
        <div class="row">
          <div class="team-item col-4" *ngFor="
          let user of users | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
               [class.active]="i == currentIndex">
            <div class="team-img mx-auto">
              <img class="rounded-circle w-100 h-100" src="{{user?.avatar}}" style="object-fit: cover;">
            </div>
            <div class="position-relative text-center bg-light rounded px-4 py-5" style="margin-top: -100px;">
              <h3 class="font-weight-bold mt-5 mb-3 pt-5" style="height: 109px ;
  max-width: 300px;
  overflow: hidden;">{{user?.fullName}}</h3>
              <h6 class="text-uppercase text-muted mb-4" style="height: 46px ;text-overflow: ellipsis;
  max-width: 300px;white-space: nowrap;
  overflow: hidden;">{{user?.description}} <i class="fas fa-pen"></i></h6>
              <div>
                <div class="position-relative text-center bg-light rounded"
                     *ngFor="let s of user?.myService; let i = index">
                  <p>{{s.name}} &ensp; &ensp; <i class="fas fa-heart service"></i></p>
                </div>
                <div *ngIf=" user?.myService!.length > 1 && user?.myService!.length <3 ">
                  <p><i class="fas fa-heart service"></i></p>
                </div>
                <div *ngIf=" user?.myService!.length > 0 && user?.myService!.length <2">
                  <p><i class="fas fa-heart service"></i></p>
                  <p><i class="fas fa-heart service"></i></p>
                </div>
                <div *ngIf="  user?.myService!.length <1">
                  <p><i class="fas fa-heart service"></i></p>
                  <p><i class="fas fa-heart service"></i></p>
                  <p><i class="fas fa-heart service"></i></p>
                </div>
              </div>
              <h5 class="font-weight-semi-bold mt-3 mb-3 pt-3 " style="color: #f1606e">{{user?.price}}.000/Hour </h5>
              <div class="d-flex justify-content-center pt-1">
                <a (click)="showDetail(user?.id)" class="btn btn-sm btn-secondary">Order Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="row">
          <div class="team-item text-center col-12">
            <div class="mt-3">
              Items per Page:
              <select (change)="handlePageSizeChange($event)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

