
.custom-slider .ngx-slider .ngx-slider-bar {
  background: #22e4d2;
  height: 6px;
}
.custom-slider .ngx-slider .ngx-slider-selection {
  background: yellow;
}

.custom-slider .ngx-slider .ngx-slider-pointer {
  width: 12px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: green;
}

.custom-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}

.custom-slider .ngx-slider .ngx-slider-bubble {
  bottom: 15px;
}

.custom-slider .ngx-slider .ngx-slider-limit {
  font-weight: bold;
  color: orange;
}

.custom-slider .ngx-slider .ngx-slider-tick {
  width: 1px;
  height: 16px;
  margin-left: 5px;
  border-radius: 0;
  background: black;
  top: -1px;
}

.custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: rgb(0, 120, 155);
}
