<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <img src="{{user?.avatar}}" style="width: 100%;">
    </div>
    <div class="col-7">
      <table cellpadding="10">
        <tr>
          <td class="infor"><span><strong>Username    :</strong></span></td>
          <td class="infor">{{user?.username}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>PhoneNumber    :</strong></span></td>
          <td class="infor">{{user?.phoneNumber}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Weight    :</strong></span></td>
          <td class="infor">{{user?.weight}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Height    :</strong></span></td>
          <td class="infor">{{user?.height}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>City    :</strong></span></td>
          <td class="infor">{{user?.city}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Email    :</strong></span></td>
          <td class="infor">{{user?.email}}</td>
        </tr>
        <tr>
          <td class="infor"><strong>Price :</strong></td>
          <td class="infor"><input type="text" class="form-control p-4" value={{user?.price}} [(ngModel)]="price"/></td>
          <td>
            <button type="button" class="btn btn-primary btn-block" (click)="updatePrice()">save</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-2"></div>
  </div>

</div>
