<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="section-title position-relative mb-5">6 hottest service providers</h1>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="service-item col-4" *ngFor="let user of users" >
            <div class="service-img mx-auto">
              <img class="rounded-circle w-100 h-100 bg-light p-3" src="{{user?.avatar}}"
                   style="object-fit: cover;">
            </div>
            <div class="position-relative text-center bg-light rounded p-4 pb-5" style="margin-top: -75px;">
              <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5"> name: {{user?.fullName}}</h5>
              <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Mô tả: {{user?.description}} </h5>
              <div>
                <h1 (click)="SerProvided(user?.id)" >Dịch vụ</h1>
                <div class="service-item col-4" *ngFor="let s of service0" >
                  <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">dịch vụ: {{s.name}} </h5>
                </div>

              </div>
              <h5 class="font-weight-semi-bold mt-5 mb-3 pt-5">Giá :{{user?.price}} </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
