<div id="loading" class="d-flex justify-content-center align-items-center">
  <div  class="spinner-border" role="status" style="font-size: 40px; width: 100px; height: 100px; color: #1e7e34">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="jumbotron jumbotron-fluid page-header">
  <div class="container text-center py-5">
    <h1 class="text-white display-3 mt-lg-5">Update Profile</h1>
    <div class="d-inline-flex align-items-center text-white">
      <p class="m-0"><a class="text-white" href="">Home</a></p>
      <i class="fa fa-circle px-3"></i>
      <p class="m-0">Update</p>
    </div>
  </div>
</div>
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="section-title position-relative text-center "></h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="contact-form bg-light rounded p-5">
          <div id="success"></div>
          <form name="sentMessage" id="contactForm" novalidate="novalidate" [formGroup]="formUser" (submit)="saveAll()">
            <div class="form-row">
              <div class="col-sm-6 control-group">
                <input type="text" class="form-control p-4" id="fullName" formControlName="fullName"
                       placeholder="Your Name" required="required"
                       data-validation-required-message="Please enter your name" />
                <div *ngIf="fullName && fullName.invalid && fullName.touched">
                  <div *ngIf="fullName.errors?.['required']">
                    <p class="help-block text-danger text-center">Please enter your full name</p>
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-6 control-group">
                <input type="text" class="form-control p-4" id="nationality" formControlName="nationality"
                       placeholder="Your Nationality"
                       required="required" data-validation-required-message="Please enter your nationality"/>
                <div *ngIf="nationality && nationality.invalid && nationality.touched">
                  <div *ngIf="nationality.errors?.['required']">
                    <p class="help-block text-danger text-center">Please enter your nationality</p>
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-6 control-group">
                <input type="text" class="form-control p-4" id="city" formControlName="city" placeholder="Your City"
                       required="required"
                       data-validation-required-message="Please enter your city"/>
                <div *ngIf="city && city.invalid && city.touched">
                  <div *ngIf="city.errors?.['required']">
                    <p class="help-block text-danger text-center">Please enter your city</p>
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-6 control-group">
                <input type="date" min="{{min}}" max="{{max}}" class="form-control p-4" id="birthday" formControlName="birthday"
                       placeholder="Your birthday"
                       required="required" data-validation-required-message="Please enter your birthday"/>
                <div *ngIf="birthday && birthday.invalid && birthday.touched">
                  <div *ngIf="birthday.errors?.['required']">
                    <p class="help-block text-danger text-center">Please enter your city</p>
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-6 control-group">
                <input type="number" class="form-control p-4" id="height" formControlName="height"
                       placeholder="Your height" required="required"
                       data-validation-required-message="Please enter your height (Centimeter)"/>
                <div *ngIf="height && height.invalid && height.touched">
                  <div *ngIf="height.errors?.['required']">
                    <p class="help-block text-danger text-center">Please enter your height (Centimeter)</p>
                  </div>
                  <div *ngIf="height.errors?.['min']">
                    <p class="help-block text-danger text-center">Height must be greater than 140(Centimeter)</p>
                  </div>
                  <div *ngIf="height.errors?.['max']">
                    <p class="help-block text-danger text-center">Height must be less than 200 (Centimeter)</p>
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-6 control-group">
                <input type="number" class="form-control p-4" id="weight" formControlName="weight"
                       placeholder="Your weight" required="required"
                       data-validation-required-message="Please enter your weight (Kilogram)"/>
                <div *ngIf="weight && weight.invalid && weight.touched">
                  <div *ngIf="weight.errors?.['required']">
                    <p class="help-block text-danger text-center">Please enter your weight (Kilogram)</p>
                  </div>
                  <div *ngIf="weight.errors?.['min']">
                    <p class="help-block text-danger text-center">Weight must be greater than 40 (Kilogram)</p>
                  </div>
                  <div *ngIf="weight.errors?.['max']">
                    <p class="help-block text-danger text-center">Weight must be less than 100 (Kilogram)</p>
                  </div>
                </div>
                <p class="help-block text-danger"></p>
              </div>
              <div class="col-sm-12 control-group">
                <div class="row ">
                  <div class="col-6">
                    <p style="margin-top: 15px; margin-left: 10px" class="help-block ">Giới Tính</p>
                  </div>
                  <div class="radio">
                    <div class="row">
                      <div class="col-3">
                        <input id="male" type="radio" name="gender" formControlName="gender"
                                                value="male">
                        <label for="male">Male</label></div>
                      <div class="col-4"><input id="female" type="radio" name="gender" formControlName="gender"
                                                value="female">
                        <label for="female">Female</label></div>
                      <div class="col-3"><input id="other" type="radio" name="gender" formControlName="gender"
                                                value="other">
                        <label for="other">Other</label></div>
                      <div *ngIf="gender && gender.invalid && gender.touched">
                        <div *ngIf="gender.errors?.['required']">
                          <p class="help-block text-danger text-center">Please enter your gender</p>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class="control-group">
              <input type="text" class="form-control p-4" id="hobby" formControlName="hobby" placeholder="Your hobby"
                     required="required"
                     data-validation-required-message="Please enter your hobby"/>
              <div *ngIf="hobby && hobby.invalid && hobby.touched">
                <div *ngIf="hobby.errors?.['required']">
                  <p class="help-block text-danger text-center">Please enter your hobby</p>
                </div>
              </div>
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input type="text" class="form-control p-4" id="request" formControlName="request"
                     placeholder="Your request" required="required"
                     data-validation-required-message="Please enter your request"/>
              <div *ngIf="request && request.invalid && request.touched">
                <div *ngIf="request.errors?.['required']">
                  <p class="help-block text-danger text-center">Please enter your request</p>
                </div>
              </div>
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input type="text" class="form-control p-4" id="facebook" formControlName="facebook"
                     placeholder="Your links facebook" required="required"
                     data-validation-required-message="Please enter your facebook"/>
              <div *ngIf="facebook && facebook.invalid && facebook.touched">
                <div *ngIf="facebook.errors?.['required']">
                  <p class="help-block text-danger text-center">Please enter your facebook</p>
                </div>
              </div>
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <textarea class="form-control p-4 " rows="6" id="description" formControlName="description"
                        placeholder="Your description"
                        required="required" data-validation-required-message="Please enter your description"></textarea>
              <div *ngIf="description && description.invalid && description.touched">
                <div *ngIf="description.errors?.['required']">
                  <p class="help-block text-danger text-center">Please enter your description</p>
                </div>
              </div>
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group p-5">
              <div class="row">
                <div class="col-6 mt-5">
                  <div id="yourBtn" (click)="updateFile()" style="color: white">Click to upload your avatar </div>
                  <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input #userPhoto id="upfile"
                           type="file" value="upload"
                           (change)="updateAvatar($event)" name="avatar"
                           autocomplete="off"/></div>
                </div>
                <div class="col-2"></div>
                <div class="col-4"> <img class="box" src="{{userUpdate?.avatar}}"  style="object-fit: cover;"></div>
              </div>


            </div>
            <div class="control-group p-5">
              <div class="row ">
                <div class="col-5 mt-5">
                  <div id="yourBt" (click)="updateFile3()" style="color: white">Click to upload 3 portrait photos</div>
                  <div style='height: 0px;width: 0px; overflow:hidden;'>
                    <input #userPhoto id="upfile3"
                           multiple
                           type="file" value="upload"
                           (change)="showPreview($event)" name="avatar"
                           autocomplete="off"/></div>
                </div>
              </div>
              <div class="control-group p-5">
                <div class="row">
                  <div class="col-4 mt-3" *ngFor="let img of image">
                    <img  class="box1" src="{{img.link}}">
                  </div>
                </div>
              </div>

            </div>

            <div>
              <button class="btn btn-primary btn-block py-3 px-5" type="submit" id="sendMessageButton" [disabled]="(!formUser.valid)">Update Profile
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
