input[type='radio'] {
  display: none;
}

label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid rgba(254,98,194,0.9);
  background-color: transparent;
}

input[type='radio']:checked+label:before {
  position: relative;
  border: 2px solid rgba(254,98,194,0.9);
  border-radius: 11px;
  width: 20px;
  height: 20px;
  top: 5px;
  content: " ";
  display: inline-block;
  background-color: #00ffc3
}
#yourBtn {
  position: relative;
  width: 300px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #41c764;
  cursor: pointer;
}
#yourBt {
  position: relative;
  width: 320px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #41c764;
  cursor: pointer;
}
.box{
  width: 150px!important;
  height: 150px!important;
  overflow: hidden;
  border-radius: 50%;
  perspective: 1000px!important;
  animation-iteration-count: infinite;
  -webkit-box-shadow: -1px -7px 54px -6px rgba(224,13,157,1);
  -moz-box-shadow: -1px -7px 54px -6px rgba(224,13,157,1);
  box-shadow: -1px -7px 54px -6px rgba(224,13,157,1);
}.box1{
  width: auto;
  height: 160px!important;
  overflow: hidden;

}
.box1 img{
  width: 100%!important;
  transform: translateX(-50%)!important;
  margin-left: 50%!important;}
.box img{
  width: 100%!important;
  transform: translateX(-50%)!important;
  margin-left: 50%!important;}
