<div class="container">
  <div class="row mt-5">
    <div class="col-3 text-center">
      <img src="{{user?.avatar}}" style="width: 100%; border-radius: 50%; margin-bottom: 30px">
      <div *ngIf="user?.status?.id == '1'">
        <button type="button" class="btn btn-warning">Register member</button>
      </div>
      <div *ngIf="user?.status?.id == '2'">
        <button type="button" class="btn btn-secondary">Active member</button>
      </div>
      <div *ngIf="user?.status?.id == '3'">
        <button type="button" class="btn btn-danger">Lock member</button>
      </div>
      <div *ngIf="user?.status?.id == '4'">
        <button type="button" class="btn btn-success">Vip member</button>
      </div>
      <div *ngIf="user?.status?.id == '5'">
        <button type="button" class="btn btn-dark">Pause member</button>
      </div>
      <br>
      <div *ngIf="(user?.id == iUser) && (user?.roles!.length > 1)">
        <div *ngIf="(user?.status?.id != '5')">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="pauseAccount(user?.id)">
            <i class="fas fa-pause"></i></a>
        </div>
        <div *ngIf="(user?.status?.id == '5') && (user?.roles!.length < 3)">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="browseAccount(user?.id)">
            <i class="fas fa-play"></i></a>
        </div>
        <div *ngIf="(user?.status?.id == '5') && (user?.roles!.length > 2)">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="updateVipAccount(user?.id)">
            <i class="fas fa-play"></i></a>
        </div>
      </div>
      <div *ngIf="(currentUser?.roles!.length > 2) && (user?.roles!.length < 3)">
        <div *ngIf="user?.status?.id == '1'">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="browseAccount(user?.id)"><i
            class="fas fa-user-plus"></i></a>
        </div>
        <div *ngIf="user?.status?.id == '2'">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="lockAccount(user?.id)"><i
            class="fas fa-lock"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="updateVipAccount(user?.id)"><i
            class="fas fa-star"></i></a>
        </div>
        <div *ngIf="user?.status?.id == '3'">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="browseAccount(user?.id)"><i
            class="fas fa-unlock"></i></a>
        </div>
        <div *ngIf="user?.status?.id == '4'">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="lockAccount(user?.id)"><i
            class="fas fa-lock"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="browseAccount(user?.id)"><i
            class="fas fa-star-half-alt"></i></a>
        </div>
        <div *ngIf="user?.status?.id == '5'">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="lockAccount(user?.id)"><i
            class="fas fa-lock"></i></a>
        </div>
      </div>
    </div>
    <div class="col-7">
      <table cellpadding="10">
        <tr>
          <td class="infor"><span><strong>Full name:</strong></span></td>
          <td class="infor" colspan="2">{{user?.fullName}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>PhoneNumber:</strong></span></td>
          <td class="infor" colspan="2">{{user?.phoneNumber}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Weight:</strong></span></td>
          <td class="infor" colspan="2">{{user?.weight}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Height:</strong></span></td>
          <td class="infor" colspan="2">{{user?.height}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>City:</strong></span></td>
          <td class="infor" colspan="2">{{user?.city}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Email:</strong></span></td>
          <td class="infor" colspan="2">{{user?.email}}</td>
        </tr>
        <tr>
          <td class="infor" *ngIf="(user?.id == iUser) && (user?.roles!.length > 1)"><strong>Price :</strong></td>
          <td class="infor" *ngIf="(user?.id == iUser) && (user?.roles!.length > 1)">{{user?.price}}.000</td>
          <td>
            <div *ngIf="(user?.id == iUser) && (user?.roles!.length > 1)">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-cog"></i></button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title infor" id="exampleModalLabel">Update price</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <input type="text" class="form-control p-4" value={{user?.price}} [(ngModel)]="price"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" (click)="updatePrice()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--            <button type="button" class="btn btn-primary btn-block" (click)="updatePrice()">save</button>-->
          </td>
        </tr>
      </table>
      <br>
      <app-image [userId]="user?.id"></app-image>
    </div>
    <div class="col-2"></div>
  </div>
</div>
