<div class="container">
  <div class="row mt-5">
    <div class="col-3 text-center">
      <img src="{{user?.avatar}}" style="width: 100%; border-radius: 50%; margin-bottom: 30px">
      <div *ngIf="user?.status?.id == '1'">
        <button type="button" class="btn btn-warning">Register member</button>
      </div>
      <div *ngIf="user?.status?.id == '2'">
        <button type="button" class="btn btn-secondary">Active member</button>
      </div>
      <div *ngIf="user?.status?.id == '3'">
        <button type="button" class="btn btn-danger">Lock member</button>
      </div>
      <div *ngIf="user?.status?.id == '4'">
        <button type="button" class="btn btn-success">Vip member</button>
      </div>
      <div *ngIf="user?.status?.id == '5'">
        <button type="button" class="btn btn-dark">Pause member</button>
      </div>
      <br>
      <div *ngIf="(user?.id == iUser) && (user?.roles!.length > 1)">
        <div *ngIf="(user?.status?.id != '5')">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="pauseAccount(user?.id)">
            <i class="fas fa-pause"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" href="{{user?.facebook}}">
            <i class="fab fa-facebook-f"></i></a>
        </div>
        <div *ngIf="(user?.status?.id == '5') && (user?.roles!.length < 3)">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="browseAccount(user?.id)">
            <i class="fas fa-play"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" href="{{user?.facebook}}">
            <i class="fab fa-facebook-f"></i></a>
        </div>
        <div *ngIf="(user?.status?.id == '5') && (user?.roles!.length > 2)">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="updateVipAccount(user?.id)">
            <i class="fas fa-play"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" href="{{user?.facebook}}">
            <i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
      <div *ngIf="(currentUser?.roles!.length > 2) && (user?.roles!.length < 3)">
        <div *ngIf="user?.status?.id == '1'">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="browseAccount(user?.id)"><i
            class="fas fa-user-plus"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" href="{{user?.facebook}}">
            <i class="fab fa-facebook-f"></i></a>
        </div>
        <div *ngIf="user?.status?.id == '2'">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="lockAccount(user?.id)"><i
            class="fas fa-lock"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="updateVipAccount(user?.id)"><i
            class="fas fa-star"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" href="{{user?.facebook}}">
            <i class="fab fa-facebook-f"></i></a>
        </div>
        <div *ngIf="user?.status?.id == '3'">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="browseAccount(user?.id)"><i
            class="fas fa-unlock"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" href="{{user?.facebook}}">
            <i class="fab fa-facebook-f"></i></a>
        </div>
        <div *ngIf="user?.status?.id == '4'">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="lockAccount(user?.id)"><i
            class="fas fa-lock"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="browseAccount(user?.id)"><i
            class="fas fa-star-half-alt"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" href="{{user?.facebook}}">
            <i class="fab fa-facebook-f"></i></a>
        </div>
        <div *ngIf="user?.status?.id == '5'">
          <a class="btn btn-outline-secondary btn-social mr-2" (click)="lockAccount(user?.id)"><i
            class="fas fa-lock"></i></a>
          <a class="btn btn-outline-secondary btn-social mr-2" href="{{user?.facebook}}">
            <i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <table cellpadding="10">
        <tr>
          <td class="infor"><span><strong>Full name:</strong></span></td>
          <td class="infor" colspan="2">{{user?.fullName}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Birthday :</strong></span></td>
          <td class="infor" colspan="2">{{user?.birthday | date : 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Gender :</strong></span></td>
          <td class="infor" colspan="2">{{user?.gender}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>City:</strong></span></td>
          <td class="infor" colspan="2">{{user?.city}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Nationality:</strong></span></td>
          <td class="infor" colspan="2">{{user?.nationality}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Height:</strong></span></td>
          <td class="infor" colspan="2">{{user?.height}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Weight:</strong></span></td>
          <td class="infor" colspan="2">{{user?.weight}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Hobby:</strong></span></td>
          <td class="infor" colspan="2">{{user?.hobby}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Description:</strong></span></td>
          <td class="infor" colspan="2">{{user?.description}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Request:</strong></span></td>
          <td class="infor" colspan="2">{{user?.request}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Start Time:</strong></span></td>
          <td class="infor" colspan="2">{{user?.startTime | date : 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td class="infor"><span><strong>Rent Count:</strong></span></td>
          <td class="infor" colspan="2">{{user?.rentCount}}</td>
        </tr>
        <tr>
          <td class="infor" *ngIf="(user?.id == iUser) && (user?.roles!.length > 1)"><strong>Price :</strong></td>
          <td class="infor"
              *ngIf="(user?.id == iUser) && (user?.roles!.length > 1)">{{user?.price | number : '0.0-0'}}</td>
          <td>
            <div *ngIf="(user?.id == iUser) && (user?.roles!.length > 1)">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-cog"></i></button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title infor" id="exampleModalLabel">Update price</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <input type="text" class="form-control p-4" [(ngModel)]="price"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" (click)="updatePrice()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <br>
      <app-image [userId]="user?.id"></app-image>
    </div>
    <div class="col-3"
         *ngIf="(user?.status?.id == '2' || user?.status?.id == '4') && (user?.roles!.length > 1) && (user?.id !=iUser)">
      <div class="col-12">
        <h5 style="color: #f83131">{{user?.price | number:'.0'}}/h</h5>
      </div>
      <app-order></app-order>
    </div>
    <div class="message__popup false">
      <div class="message__popup--box">
        <div class="message__popup--box-header">
          <div class="media"><i class="fas fa-comment-dots fa-2x media-left"></i>
            <p class="media-body media-middle">Tin nhắn</p></div>
          <div class="pl-btn"><i class="fas fa-minus"></i><i class="fas fa-sync false"></i>
            <div class="messs-tarnger"><span>Nhận tin nhắn từ người lạ</span>
              <div class="react-switch"
                   style="position: relative; display: inline-block; text-align: left; opacity: 1; border-radius: 8px; transition: opacity 0.25s ease 0s; touch-action: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none;">
                <div class="react-switch-bg"
                     style="height: 16px; width: 35px; margin: 1px; position: relative; background: rgb(226, 127, 118); border-radius: 8px; cursor: pointer; transition: background 0.25s ease 0s;"></div>
                <div class="react-switch-handle" role="checkbox" tabindex="0" id="material-switch"
                     aria-checked="true" aria-disabled="false"
                     style="height: 18px; width: 18px; background: rgb(240, 86, 74); cursor: pointer; display: inline-block; border-radius: 50%; position: absolute; transform: translateX(19px); top: 0px; outline: 0px; box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 5px; border: 0px; transition: background-color 0.25s ease 0s, transform 0.25s ease 0s, box-shadow 0.15s ease 0s;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="message__popup--box-content">
          <div class="box__left ">
            <div class="box__left--message"><span class="search room-search input-group"><input
              placeholder="Search ..." name="text" type="text" class="form-control" value=""><span
              class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span></span>
              <div class="list-message-content">
                <div>
                  <div class="media">
                    <div class="media-left">
                      <div class="avt avt-sm"><img
                        src="./Meoo Nèe💕💕💕 on PlayerDuo_files/44e0b45a-55c1-4138-b4be-6fc5857467ee__770d13d0-8c54-11ec-911d-399f024e5d9b__page_avatar.jpg"
                        class="avt-img" alt="PD">
                        <div class="stt stt-offline"></div>
                        <img src="./Meoo Nèe💕💕💕 on PlayerDuo_files/4.png"
                             class="vip-avatar rank-vip" alt="PD"
                             style="height: 18px; width: 18px;"></div>
                    </div>
                    <div class="media-body"><p class="name-player-review color-vip-1">Lyiuu</p>
                      <p>???</p><span>Hôm kia</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
