<div class="container">
  <!-- Trigger the modal with a button -->
  <!--  <button type="button" class="btn btn-secondary px-2" data-toggle="modal" data-target="#myModal">-->
  <!--  <i class="fa-brands fa-facebook-messenger"></i>-->
  <!--    </button>-->
  <!-- class="btn btn-secondary px-2 back-to-top">-->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg ">

      <!-- Modal content-->
      <div class="modal-content" style="width: 900px ">
        <div class="modal-header">
          <div class="col-11"><h5>Message</h5></div>
          <button type="button" class="close" (click)="killChat()" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-4">

              <div *ngIf="messPro.length==0">
                <div class="row" *ngFor="let re of providerOrders">
                  <label (click)="id(re?.renter?.id)">
                    <div class="row ml-2" style="border: 1px #00c4ff;border-bottom-style:  solid ">
                      <div class="col-2"><img src="{{re?.renter?.avatar}}"
                                              style="border-radius: 50% " width="100%">
                      </div>
                      <div class="col-6">{{re?.renter?.fullName}}</div>
                    </div>
                  </label>
                </div>
              </div>

              <div class="row" *ngFor="let m of messPro">
                <label (click)="id(m?.idPro?.id)">
                  <div class="row ml-2" style="border: 1px #00c4ff;border-bottom-style:  solid ">
                    <div class="col-2"><img src="{{m?.idPro?.avatar}}"
                                            style="border-radius: 50% " width="100%">
                    </div>
                    <div class="col-6">{{m?.idPro?.fullName}}</div>
                  </div>
                </label>
              </div>

            </div>
            <div class="col-1"></div>
            <div class="col-7" style="border: 1px #00c4ff;border-left-style:  solid ">
              <div class="col-12 mb-1"
                   style="height: 280px;  overflow: auto ; border: 1px #00c4ff;border-bottom-style:  solid ">
                <div class="row">

                  <div class="col-12" *ngFor="let mess of messRe">
                    <div *ngIf="mess?.idPro?.id==idU ;else tt">
                      <div class=" mt-1" id="t">
                      <span
                        style="border-radius: 10px ;background: #79cfff ;padding-right: 10px;padding-left: 10px;color: #ffffff">
                        {{mess.content}}
                      </span>
                      </div>
                      <div class=" mt-1">
                      <span
                        style="border-radius: 10px ;background: #ffffff ;padding-right: 10px;padding-left: 10px;color: #ffffff">
                      </span>
                      </div>
                    </div>
                    <ng-template #tt>
                      <div class=" mt-1">
                      <span
                        style="border-radius: 10px ;background: #ff94ec ;padding-right: 10px;padding-left: 10px;color: #ffffff">
                        {{mess.content}}
                      </span>
                      </div>
                    </ng-template>

                  </div>
                  <!--                  <div class="col-12" *ngFor="let mess of messRe">-->
                  <!--                    <div class=" mt-1">-->
                  <!--                      <span-->
                  <!--                        style="border-radius: 10px ;background: #79cfff ;padding-right: 10px;padding-left: 10px;color: #ffffff">-->
                  <!--                        {{mess.content}}-->
                  <!--                      </span>-->
                  <!--                    </div>-->
                  <!--                  </div>-->

                </div>
              </div>
              <form [formGroup]="messForm" (submit)="sent()" class="col-12">
                <textarea formControlName="content" placeholder="Enter message" style=" border-radius: 6px" cols="60"
                          rows="2"></textarea>
                <div class="row  mt-2">
                  <div class="col-7"></div>
                  <button class="btn btn-secondary " type="submit">Send</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="killChat()">Close</button>
                </div>
              </form>
            </div>
          </div>


        </div>
        <div class="modal-footer">
        </div>
      </div>

    </div>
  </div>

</div>
