<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5 pb-5">
  <div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="w-100" src="https://cdnmedia.thethaovanhoa.vn/Upload/tyTrfgkgEUQwPYuvZ4Kn1g/files/2019/02/1202/t24.gif" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 900px;">
            <h4 class="text-white text-uppercase mb-md-3">Traditional & Delicious</h4>
            <h1 class="display-3 text-white mb-md-4">Traditional Ice Cream Since 1950</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="w-100" src="assets/img/hinh-anh-valentine-buon-tam-trang-nam.png" alt="Image">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <div class="p-3" style="max-width: 900px;">
            <h4 class="text-white text-uppercase mb-md-3">Traditional & Delicious</h4>
            <h1 class="display-3 text-white mb-md-4">Made From Our Own Organic Milk</h1>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
      <div class="btn btn-secondary px-0" style="width: 45px; height: 45px;">
        <span class="carousel-control-prev-icon mb-n1"></span>
      </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
      <div class="btn btn-secondary px-0" style="width: 45px; height: 45px;">
        <span class="carousel-control-next-icon mb-n1"></span>
      </div>
    </a>
  </div>
</div>
<!-- Carousel End -->

<!-- Video Modal Start -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Modal End -->

<!-- Services Start -->
<app-list6-user-vip></app-list6-user-vip>
<!-- Services End -->
<!-- Services Start -->
<app-list8-female-and4-male></app-list8-female-and4-male>
<!-- Services End -->

<!-- Portfolio Start -->
<div class="container-fluid my-5 py-5 px-0">
  <div class="row justify-content-center m-0">
    <div class="col-lg-5">
      <h1 class="section-title position-relative text-center mb-5">Delicious Ice Cream Made From Our Very Own Organic Milk</h1>
    </div>
  </div>
  <div class="row m-0 portfolio-container">
    <div class="col-lg-4 col-md-6 p-0 portfolio-item">
      <div class="position-relative overflow-hidden">
        <img class="img-fluid w-100" src="https://i.vietgiaitri.com/2020/9/10/dien-trang-phuc-khoe-nua-bo-nguc-de-ngoi-lap-noi-that-nu-youtuber-xinh-dep-khien-cac-fan-chay-mau-mui-lien-tuc-fa6-5220192.gif" alt="">
        <a class="portfolio-btn" href="https://i.vietgiaitri.com/2020/9/10/dien-trang-phuc-khoe-nua-bo-nguc-de-ngoi-lap-noi-that-nu-youtuber-xinh-dep-khien-cac-fan-chay-mau-mui-lien-tuc-fa6-5220192.gif" data-lightbox="portfolio">
          <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-0 portfolio-item">
      <div class="position-relative overflow-hidden">
        <img class="img-fluid w-100" src="https://gamek.mediacdn.vn/133514250583805952/2020/9/10/photo-1-15997087840831474617727.gif" alt="">
        <a class="portfolio-btn" href="https://gamek.mediacdn.vn/133514250583805952/2020/9/10/photo-1-15997087840831474617727.gif" data-lightbox="portfolio">
          <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-0 portfolio-item">
      <div class="position-relative overflow-hidden">
        <img class="img-fluid w-100" src="https://i.vietgiaitri.com/2020/9/10/dien-trang-phuc-khoe-nua-bo-nguc-de-ngoi-lap-noi-that-nu-youtuber-xinh-dep-khien-cac-fan-chay-mau-mui-lien-tuc-d38-5220192.gif" alt="">
        <a class="portfolio-btn" href="https://image-us.24h.com.vn/upload/4-2018/images/2018-11-24/image_dai_dien_gifimage_dai_dien_gifchi-pu1-1542937197-width640height480-1543018252-681-width640height480.gif" data-lightbox="portfolio">
          <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-0 portfolio-item">
      <div class="position-relative overflow-hidden">
        <img class="img-fluid w-100" src="assets/img/portfolio-4.jpg" alt="">
        <a class="portfolio-btn" href="assets/img/portfolio-4.jpg" data-lightbox="portfolio">
          <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-0 portfolio-item">
      <div class="position-relative overflow-hidden">
        <img class="img-fluid w-100" src="assets/img/portfolio-5.jpg" alt="">
        <a class="portfolio-btn" href="assets/img/portfolio-5.jpg" data-lightbox="portfolio">
          <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 p-0 portfolio-item">
      <div class="position-relative overflow-hidden">
        <img class="img-fluid w-100" src="assets/img/portfolio-6.jpg" alt="">
        <a class="portfolio-btn" href="assets/img/portfolio-6.jpg" data-lightbox="portfolio">
          <i class="fa fa-plus text-primary" style="font-size: 60px;"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio End -->

<!-- Products Start -->
<app-list12-new-service-provider></app-list12-new-service-provider>
<!-- Products End -->

<!-- Team Start -->
<app-list12-user-suitable-for-gender></app-list12-user-suitable-for-gender>
<!-- Team End -->


