<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="section-title position-relative mb-5">All your orders (as renter)</h1>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
    </div>
    <div class="row title">
      <div class="col-1 order-title"></div>
      <div class="col-2 order-title">Lover's name</div>
      <div class="col-2 order-title">Start</div>
      <div class="col-2 order-title">Finish</div>
      <div class="col-1 order-title">Time</div>
      <div class="col-1 order-title">Price</div>
      <div class="col-2 order-title">Status</div>
      <div class="col-2"></div>
    </div>
    <div class="row mt-3" *ngFor="let re of renterOrders">
      <div class="col-1"><img src="{{re?.provider?.avatar}}" alt="" width="100%"></div>
      <div class="col-2">{{re?.provider?.fullName}}</div>
      <div class="col-2">{{re?.startTime | date : 'MM/dd/yy, h:mm a'}}</div>
      <div class="col-2">{{re?.endTime | date : 'MM/dd/yy, h:mm a'}}</div>
      <div class="col-1">{{re?.timeRent}}h</div>
      <div class="col-1">{{(re?.provider?.price) * (re?.timeRent) | number : '0.0-0'}}</div>
      <div class="col-1">{{re?.status?.name}}</div>
      <div class="col-2 text-center" *ngIf="re?.status?.id == '2'">
        <a (click)="changeStatusToCompleted(re?.id, re?.provider?.id)" class="mr-1"><i class="fas fa-calendar-check mr-2"></i>Complete</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-title position-relative mb-5">All your orders (as provider)</h1>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
    </div>
    <div class="row title">
      <div class="col-1 order-title"></div>
      <div class="col-2 order-title">Customer's name</div>
      <div class="col-2 order-title">Start</div>
      <div class="col-2 order-title">Finish</div>
      <div class="col-1 order-title">Time</div>
      <div class="col-1 order-title">Price</div>
      <div class="col-1 order-title">Status</div>
      <div class="col-2"></div>
    </div>
    <div class="row mt-3" *ngFor="let re of providerOrders; let i = index">
      <div class="col-1"><img src="{{re?.renter?.avatar}}" alt="" width="100%"></div>
      <div class="col-2">{{re?.renter?.fullName}}</div>
      <div class="col-2">{{re?.startTime | date : 'MM/dd/yy, h:mm a'}}</div>
      <div class="col-2">{{re?.endTime | date : 'MM/dd/yy, h:mm a'}}</div>
      <div class="col-1">{{re?.timeRent}}h</div>
      <div class="col-1">{{((re?.provider?.price) * (re?.timeRent)) | number : '0.0-0' }}</div>
      <div class="col-1">{{re?.status?.name}}</div>
      <div class="col-2" >
        <div>
          <a class="mr-1" data-toggle="modal" data-target="#viewModal{{re?.id}}"><i class="fas fa-eye mr-2 ml-3"></i>View</a>
          <!-- Modal -->
          <div class="modal fade" id="viewModal{{re?.id}}" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="viewModalLabel">Order number: {{re?.id}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row title">
                    <div class="col-1 order-title"></div>
                    <div class="col-2 order-title">Customer's name</div>
                    <div class="col-2 order-title">Start</div>
                    <div class="col-2 order-title">Finish</div>
                    <div class="col-1 order-title">Time</div>
                    <div class="col-1 order-title">Price</div>
                    <div class="col-1 order-title">Status</div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-1"><img src="{{re?.renter?.avatar}}" alt="" width="100%"></div>
                    <div class="col-2">{{re?.renter?.fullName}}</div>
                    <div class="col-2">{{re?.startTime | date : 'MM/dd/yy, h:mm a'}}</div>
                    <div class="col-2">{{re?.endTime | date : 'MM/dd/yy, h:mm a'}}</div>
                    <div class="col-1">{{re?.timeRent}}h</div>
                    <div class="col-1">{{((re?.provider?.price) * (re?.timeRent)) | number : '0.0-0' }}</div>
                    <div class="col-1">{{re?.status?.name}}</div>
                    <div class="col-2" ></div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="re?.status?.id == '1'">
          <a (click)="changeStatusToReceived(re?.id)" class="mr-1"><i class="fas fa-check-circle mr-2 ml-3"></i>Receive</a>
        </div>
        <div *ngIf="re?.status?.id == '3'">
          <a class="mr-1" data-toggle="modal" data-target="#reportModal" ><i class="fas fa-angry mr-2 ml-3"></i>Report</a>
          <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel"
               aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title infor" id="reportModalLabel">Report User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                  <textarea style="border-radius: 6px" cols="90" rows="5" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Send Report</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Button trigger modal -->
      </div>
    </div>
  </div>
</div>
